<div class="container" style="margin: 30px;">
  <h1>You are on profile of <%= @student.first_name %></h1>
  <hr>
  <h3><strong>Email:</strong> <%= @student.email %></h3>
  <hr>
  <h3><strong>Gender:</strong> <%= @student.gender %></h3>
  <hr>
</div>