<div class="container">
<%= notice %>
  <hr>
  <h3><%= link_to "Add a new Course", new_course_path %></h3>
<hr>
  <h2>You can see all courses here</h2>
<% @courses.each do |c| %>
  <h4><%= c.name %></h4>
  <h5><%= link_to 'view', c %></h5>
<% end %>
</div>